# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Flask environment file
.env
instance/

# Database
*.sqlite3
*.db

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/
coverage.xml

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log
logs/

# Translations
*.mo

# Sphinx documentation
docs/_build/

# Flask-Migrate / Alembic
migrations/

# Celery
celerybeat-schedule

# Wheel
*.whl

# Others
*.bak
*.swp

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
